
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
h1
{
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

img
{
    display: block;
    margin: auto;
    width: 30%;
}

.parte1
{
background-color: rgb(170, 245, 245);
}

.parte2
{
background-color: rgb(170, 245, 245);
}

.parte3
{
    background-color: rgb(170, 245, 245);
}

.parte4
{
    background-color: rgb(170, 245, 245);
}